@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
*{
    margin: 0 ;
    padding:0;
    font-size: 30px;
    font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#imp {
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%,-50%);
 box-shadow: outset 20px rgb(0, 0, 0);
}
#upper  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leng{
    width: 10vw;
}
canvas{
    height: 70vh;
    width: 50vw;
    border: 2px solid rgb(236, 195, 58);
}
.outline{
    border: 3px solid black;
    padding: 1px 30px 1px 30px;
    box-shadow: 10px 10px 4px;
}
.sam2{
    background-color: rgb(23, 153, 153);
}
.sam2:hover{
    background-color: rgb(0, 255, 255);
}


.sam3{
    background-color: rgb(194, 130, 52);
}
.sam3:hover{
    background-color: rgb(235, 129, 0);
}
.sam4{
    background-color: aqua;
}
.sam4:hover{
    background-color: rgb(0, 81, 255);
}
#down {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.out{
    display: flex;
    flex-direction: column;
}